{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

<h1>
    <a href="{{ path("topics", {"id": topic.category.id}) }}">{{ topic.category }}</a> > {{ topic }}
    {% if topic.locked %}
    <span class="danger">Locked topic</span>
    {% endif %}
    {% if topic.resolved %}
    <span class="success">Resolved topic</span>
    {% endif %}
</h1>

<div class="topic-info">
    <p class="m-0"><i class="fa-regular fa-calendar"></i>&nbsp;{{ topic.createdAt | date("d-m-Y H:i")  }}</p>
    <p class="m-0"><i class="fa-regular fa-user"></i>&nbsp;{{ topic.user }}</p>
</div>

<table class="table table-striped mt-4">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="w-25">#</th>
            <th scope="col">Post</th>
            <th scope="col" class="text-center w-25">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td class="padding">
                <i class="fa-regular fa-user"></i> <strong>{{ post.user }}</strong><br>
                <span class="text-badge">{{ post.user.grade | raw }}</span> <br>{{ post.user.level | raw }} <br>
                {{ post.createdAt | date("d-m-Y H:i") }}
            </td>
            <td>{{ post }}</td>
            <td class="text-center">
                {% if post.user == app.user %}
                <i class="fa-regular fa-pen-to-square text-warning"></i>
                <i class="fa-regular fa-trash-can text-danger"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {{ knp_pagination_render(posts) }}
</div>

{% if app.user %}
    {% if topic.locked or topic.resolved %}
        <p class="text-danger">Topic locked or resolved !</p>
    {% else %}
        <h2>Add a new post</h2>
        {{ form(formAddPost) }}
    {% endif %}
{% endif %}

{% endblock %}